.imgs-grid {
    /*max-width: 800px;*/
    margin: 0 auto;
    font-size: 0;
}
/*.imgs-grid img{opacity: 0;}*/
/*.imgs-grid.imgs-grid-1 .imgs-grid-image {
  width: 14.8722rem;height: 14.8722rem;
  text-align: center;
}*/
.view-all {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 100%;
    text-align: center;
}
.view-all-text {
    line-height: 31px;
}
.imgs-grid .imgs-grid-image {
    width: 4.9462rem;
    height: 4.9462rem;
}
.imgs-grid-1 .imgs-grid-image {
    width: 7.4062rem;
    height: 7.4062rem;
}
.imgs-grid-6 .imgs-grid-image {
    width: 33%;
    height: 4.9562rem;
}
.imgs-grid-2 .imgs-grid-image {
    width: 33%;
    height: 4.9562rem;
}
.imgs-grid-3 .imgs-grid-image {
    width: 33%;
    height: 4.9562rem;
}
.imgs-grid-4 .imgs-grid-image {
    width: 49.6%;
    height: 4.9562rem;
}
.imgs-grid-5 .imgs-grid-image:nth-child(1),
.imgs-grid-5 .imgs-grid-image:nth-child(2),
.imgs-grid-5 .imgs-grid-image:nth-child(3) {
    width: 33%;
    height: 4.9562rem;
}
.imgs-grid-5 .imgs-grid-image:nth-child(4),
.imgs-grid-5 .imgs-grid-image:nth-child(5) {
    width: 49.6%;
}
.imgs-grid .imgs-grid-image {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 1px;
}
.imgs-grid .imgs-grid-image:hover {
    cursor: pointer;
}
.imgs-grid .imgs-grid-image .image-wrap {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    vertical-align: middle;
}
.imgs-grid .imgs-grid-image .image-wrap img {
    position: relative;
    /*opacity: 0;*/
    /*height: auto;*/
}
/*
margin:

0
;
}*/
.imgs-grid .imgs-grid-image .view-all {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}
.imgs-grid .imgs-grid-image .view-all:before {
    display: inline-block;
    height: 100%;
    content: "";
    vertical-align: middle;
}
.imgs-grid .imgs-grid-image .view-all:hover {
    cursor: pointer;
}
.imgs-grid .imgs-grid-image .view-all:hover .view-all-text {
    text-decoration: underline;
}
.imgs-grid .imgs-grid-image .view-all .view-all-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
}
.imgs-grid .imgs-grid-image .view-all .view-all-text {
    position: relative;
    color: white;
    /*font-family: sans-serif;*/
    font-size: 16px;
    font-family: inherit;
}
@media (max-width: 350px) {
    .imgs-grid .imgs-grid-image .view-all .view-all-text {
        font-size: 10px;
    }
}
.imgs-grid-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: black;
    opacity: 0;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.imgs-grid-modal .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    background-image: url(/src/images/photo-grid-icons.png);
    background-position: -100px;
    background-repeat: no-repeat;
}
.imgs-grid-modal .modal-close:hover {
    cursor: pointer;
}
.imgs-grid-modal .modal-inner {
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 60px;
    left: 0;
}
.imgs-grid-modal .modal-inner .modal-control {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 70px;
}
.imgs-grid-modal .modal-inner .modal-control:hover {
    cursor: pointer;
}
.imgs-grid-modal .modal-inner .modal-control.left {
    left: 0;
}
.imgs-grid-modal .modal-inner .modal-control.right {
    right: 0;
}
.imgs-grid-modal .modal-inner .modal-control .arrow {
    margin: 0 auto;
    width: 40px;
    height: 100%;
    background-image: url(/src/images/photo-grid-icons.png);
    background-repeat: no-repeat;
}
.imgs-grid-modal .modal-inner .modal-control .arrow.left {
    margin-left: -10px;
    background-position: 2px center;
}
.imgs-grid-modal .modal-inner .modal-control .arrow.right {
    margin-left: 10px;
    background-position: -42px center;
}
.imgs-grid-modal .modal-inner .modal-image {
    position: absolute;
    top: 0;
    right: 30px;
    bottom: 0;
    left: 30px;
    text-align: center;
}
.imgs-grid-modal .modal-inner .modal-image:before {
    display: inline-block;
    height: 100%;
    content: "";
    vertical-align: middle;
}
.imgs-grid-modal .modal-inner .modal-image img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}
.imgs-grid-modal .modal-inner .modal-image img:hover {
    cursor: pointer;
}
@media (max-width: 800px) {
    .imgs-grid-modal .modal-inner .modal-control {
        width: 40px;
    }
    .imgs-grid-modal .modal-inner .modal-control .arrow {
        -webkit-transform: scale(0.4);
        -moz-transform: scale(0.4);
        -ms-transform: scale(0.4);
        -o-transform: scale(0.4);
        transform: scale(0.4);
    }
    .imgs-grid-modal .modal-inner .modal-image {
        /*left: 0;
        right: 0;*/
    }
}
.imgs-grid-modal .modal-indicator {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
}
.imgs-grid-modal .modal-indicator ul {
    margin: 0;
    padding: 0;
}
.imgs-grid-modal .modal-indicator ul li {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 1px;
    width: 12px;
    height: 12px;
    border: 1px solid white;
    border-radius: 100%;
    vertical-align: middle;
}
.imgs-grid-modal .modal-indicator ul li:hover {
    cursor: pointer;
}
.imgs-grid-modal .modal-indicator ul li.selected {
    margin: 0;
    width: 14px;
    height: 14px;
    background-color: white;
}
