@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?10di9t');
    src: url('fonts/icomoon.eot?10di9t#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?10di9t') format('truetype'),
    url('fonts/icomoon.woff?10di9t') format('woff'),
    url('fonts/icomoon.svg?10di9t#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 14px;
    font-family: 'icomoon' !important;
    line-height: 1;
    speak: none;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-wujiaoxing:before {
    content: "\e93e";
}
.icon-biaoqian:before {
    content: "\e900";
}
.icon-bofang:before {
    content: "\e901";
}
.icon-boy:before {
    content: "\e902";
}
.icon-chaolianjie:before {
    content: "\e903";
}
.icon-dianzan:before {
    content: "\e904";
}
.icon-dianzan_pre:before {
    content: "\e905";
}
.icon-fujin .path1:before {
    color: rgb(66, 226, 66);
    content: "\e906";
}
.icon-fujin .path2:before {
    margin-left: -1em;
    color: rgb(255, 255, 255);
    content: "\e907";
}
.icon-gengduo:before {
    content: "\e908";
}
.icon-girl:before {
    content: "\e909";
}
.icon-guanbi:before {
    content: "\e90a";
}
.icon-guanbi2:before {
    content: "\e90b";
}
.icon-huodong .path1:before {
    color: rgb(255, 91, 98);
    content: "\e90c";
}
.icon-huodong .path2:before {
    margin-left: -1em;
    color: rgb(255, 255, 255);
    content: "\e90d";
}
.icon-jia:before {
    content: "\e90e";
}
.icon-liulanliang:before {
    content: "\e90f";
}
.icon-liwu:before {
    content: "\e910";
}
.icon-logo .path1:before {
    color: rgb(1, 1, 1);
    content: "\e911";
}
.icon-logo .path2:before {
    margin-left: -1em;
    color: rgb(3, 3, 3);
    content: "\e912";
}
.icon-logo .path3:before {
    margin-left: -1em;
    color: rgb(3, 3, 3);
    content: "\e913";
}
.icon-logo .path4:before {
    margin-left: -1em;
    color: rgb(3, 3, 3);
    content: "\e914";
}
.icon-logo .path5:before {
    margin-left: -1em;
    color: rgb(3, 3, 3);
    content: "\e915";
}
.icon-logo .path6:before {
    margin-left: -1em;
    color: rgb(3, 3, 3);
    content: "\e916";
}
.icon-logo .path7:before {
    margin-left: -1em;
    color: rgb(3, 3, 3);
    content: "\e917";
}
.icon-logo .path8:before {
    margin-left: -1em;
    color: rgb(1, 1, 1);
    content: "\e918";
}
.icon-logo .path9:before {
    margin-left: -1em;
    color: rgb(3, 3, 3);
    content: "\e919";
}
.icon-logo .path10:before {
    margin-left: -1em;
    color: rgb(0, 0, 0);
    content: "\e91a";
}
.icon-logo .path11:before {
    margin-left: -1em;
    color: rgb(0, 0, 0);
    content: "\e91b";
}
.icon-logo .path12:before {
    margin-left: -1em;
    color: rgb(0, 0, 0);
    content: "\e91c";
}
.icon-logo .path13:before {
    margin-left: -1em;
    color: rgb(0, 0, 0);
    content: "\e91d";
}
.icon-logo .path14:before {
    margin-left: -1em;
    color: rgb(0, 0, 0);
    content: "\e91e";
}
.icon-logo .path15:before {
    margin-left: -1em;
    color: rgb(0, 0, 0);
    content: "\e91f";
}
.icon-logo .path16:before {
    margin-left: -1em;
    color: rgb(0, 0, 0);
    content: "\e920";
}
.icon-logo .path17:before {
    margin-left: -1em;
    color: rgb(0, 0, 0);
    content: "\e921";
}
.icon-logo .path18:before {
    margin-left: -1em;
    color: rgb(0, 0, 0);
    content: "\e922";
}
.icon-logo .path19:before {
    margin-left: -1em;
    color: rgb(0, 0, 0);
    content: "\e923";
}
.icon-logo .path20:before {
    margin-left: -1em;
    color: rgb(255, 123, 152);
    content: "\e924";
}
.icon-logo .path21:before {
    margin-left: -1em;
    color: rgb(255, 123, 152);
    content: "\e925";
}
.icon-logo .path22:before {
    margin-left: -1em;
    color: rgb(255, 123, 152);
    content: "\e926";
}
.icon-logo .path23:before {
    margin-left: -1em;
    color: rgb(255, 123, 152);
    content: "\e927";
}
.icon-logo .path24:before {
    margin-left: -1em;
    color: rgb(255, 123, 152);
    content: "\e928";
}
.icon-logo .path25:before {
    margin-left: -1em;
    color: rgb(255, 123, 152);
    content: "\e929";
}
.icon-logo .path26:before {
    margin-left: -1em;
    color: rgb(255, 123, 152);
    content: "\e92a";
}
.icon-logo .path27:before {
    margin-left: -1em;
    color: rgb(255, 123, 152);
    content: "\e92b";
}
.icon-logo .path28:before {
    margin-left: -1em;
    color: rgb(255, 123, 152);
    content: "\e92c";
}
.icon-logo .path29:before {
    margin-left: -1em;
    color: rgb(255, 123, 152);
    content: "\e92d";
}
.icon-logo .path30:before {
    margin-left: -1em;
    color: rgb(0, 0, 0);
    content: "\e92e";
}
.icon-logo .path31:before {
    margin-left: -1em;
    color: rgb(0, 0, 0);
    content: "\e92f";
}
.icon-logo .path32:before {
    margin-left: -1em;
    color: rgb(0, 0, 0);
    content: "\e930";
}
.icon-logo .path33:before {
    margin-left: -1em;
    color: rgb(0, 0, 0);
    content: "\e931";
}
.icon-piaoxuan .path1:before {
    color: rgb(77, 200, 241);
    content: "\e932";
}
.icon-piaoxuan .path2:before {
    margin-left: -1em;
    color: rgb(255, 255, 255);
    content: "\e933";
}
.icon-piaoxuan .path3:before {
    margin-left: -1em;
    color: rgb(255, 255, 255);
    content: "\e934";
}
.icon-piaoxuan .path4:before {
    margin-left: -1em;
    color: rgb(255, 255, 255);
    content: "\e935";
}
.icon-piaoxuan .path5:before {
    margin-left: -1em;
    color: rgb(255, 255, 255);
    content: "\e936";
}
.icon-pinlun:before {
    content: "\e937";
}
.icon-shaixuan:before {
    content: "\e938";
}
.icon-shaixuan_pre:before {
    content: "\e939";
}
.icon-shouji:before {
    content: "\e93a";
}
.icon-sousuo:before {
    content: "\e93b";
}
.icon-xiehou .path1:before {
    color: rgb(255, 115, 115);
    content: "\e93c";
}
.icon-xiehou .path2:before {
    margin-left: -1em;
    color: rgb(255, 255, 255);
    content: "\e93d";
}
